#!/usr/bin/make -f

PACKAGE_DIR = newracom-evk
SERVICES = newracom.servvice

clean:
	@dh_clean
	@rm ../*.deb ../*.buildinfo ../*.changlogs

build::
	@mkdir -p debian/${PACKAGE_DIR}

binary:
	dh_installdeb
	dh_gencontrol
	dh_builddeb
