!.gitignore
!add-disk
!bills_interface_guidelines.txt
!blueshieldca
!clones.txt
!colors.modal.ls
!colors.template
!config.gpgconf
!dconf.Tilix
!dconf.terminal
!furious.dev
!hostnames.dictionary
!list.repos.txt
!options.qemu.configure
!pkg-engine.ddns.pw
!requirements.apt.txt
!requirements.dev.txt
!requirements.home-env.txt
!requirements.nuttx.txt
!requirements.qemu.txt
!settings.gnome-terminal
!sfdisk.txt
!smb.conf
!requirements.ioaire.txt
!nsswitch.conf
!requirements.deb.txt
!leet.c
!log.history.ioaire
!log.history.sx-newah
!bookmarks.html
!avahi/
