*
!/.gitignore
!add-disk
!avahi/
!bills_interface_guidelines.txt
!blueshieldca
!clones.txt
!colors.modal.ls
!colors.template
!config.gpgconf
!dconf.Tilix
!dconf.terminal
!foo.txt
!furious.dev
!hostnames.dictionary
!list.repos.txt
!options.qemu.configure
!pkg-engine.ddns.pw
!requirements.apt.txt
!requirements.dev.txt
!requirements.home-env.txt
!requirements.nuttx.txt
!requirements.qemu.txt
!settings.gnome-terminal
!sfdisk.txt
!smb.conf
