samba
smbclient
cifs-utils
vlc
vim
git
gcc
make
curl
wget
bzip2
bzip2-doc
xz-utils
flex
bison
flex
libsdl2-2.0-0
id-utils
global
exuberant-ctags
cscope
python3-pip
apt-transport-https
inetutils-traceroute
net-tools
iw
pkg-config
