samba
smbclient
vlc
vim
git
gcc
cmake
make
curl
wget
bzip2
bzip2-doc
xz-utils
flex
bison
flex
libsdl2-2.0-0
id-utils
global
exuberant-ctags
cscope
cifs-utils
python3-pip
libusb-1.0-0-dev
libusb-1.0-0
python3-usb1
python3-project-generator
python3-serial
python3-serial-asyncio
