ninja-build
automake
autoconf
libtool
libstlink1
libstlink-dev
stlink-tools
stlink-gui
sqlite3
sqlite3-doc
sqlite3-tools
libdb5.3
libdb5.3-dev
libdb5.3++
libdb5.3++-dev
amqp-tools
rabbitmq-server
librabbitmq4
libdb5.3
libdb5.3
libdb5.3
