g++
libcrypt-dev
libgcrypt20-dev
libudev-dev
libbz2-dev
libseccomp-dev
liblzma-dev
liblz4-dev
libxslt1-dev
libzstd-dev
docbook
docbook-xsl
doxygen
xsltproc
triehash
libxxhash-dev
libgtest-dev
libgnutls28-dev
libglib2.0-dev
libsystemd-dev
po4a
w3m
