iw
meshio-tools
meshlab
meshdsfilter-tools
batctl
batmand
cloudcompare
python3-meshio
libnss-myhostname
libnss-mdns
libnss-mymachines
avahi-utils
apt-transport-https
inetutils-traceroute
net-tools
iperf
wireless-tools
