ninja-build
meson
python3-ply
automake
autoconf
libtool
libstlink1
libstlink-dev
stlink-tools
stlink-gui
sqlite3
sqlite3-doc
sqlite3-tools
libdb5.3
libdb5.3-dev
libdb5.3++
libdb5.3++-dev
amqp-tools
rabbitmq-server
librabbitmq4
libdb5.3
libdb5.3
libdb5.3
virtualenv
cmake
subversion
mercurial
meld
python3-meld3
minicom
elf-binutils
libssl-dev
libevent-pthreads-2.1-7
libdw1
libunwind-15
libyaml-dev
python3-yaml
python3-ply
python3-jinja2
libudev-dev
libpython3-dev
pybind11-dev
libevent-dev
device-tree-compiler
