# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Usual developer cruft informally assisting work.
/tmp
*.tmp
*.swp
*.swo
*.orig
*.rej
*.dep
[a-z][a-z][a-z]
/.??*
Documents/
Downloads/
Music/
Packages/
usr/
# bin/
examples.desktop
gerrit/
git-repo/
pkgs.list.centos
src/
workspace/
home-env/

# bin files not to be tracked
astyle
checkpatch.pl
eclipse/
embedded
*.log
jre
jre1.8.0_121/
mergehex
nrf-debug
nrfjprog
nuttx-debug
restyle
/*.txt
/patch.*
