[color]
	branch = auto
	interactive = auto
        review = auto
	diff = auto

[color "log"]
        Commit = black
        Date = red
	meta = blue yellow bold

[color "status"]
        added = green
        changed = red
        untracked = cyan

[color "git-review"]
        branch = blue
        topic = white
        subject = cyan
#	status = auto
[core]
[foo]
	who = me
[credential]
[pull]

#[color "branch"]
#  current = yellow reverse
#  local = yellow
#  remote = green
#[color "diff"]
#  meta = yellow bold
#  frag = magenta bold
#  old = red bold
#  new = green bold
[user]
	name = Bill
	email = bill@zglue.com
