[Desktop Entry]
Type=Application
Exec=display.py
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=xpand
Name=xpand
Comment[en_US]=start 2 terminal windows
Comment=start 2 terminal windows
