[Desktop Entry]
Type=Application
Categories=Utility;
Exec=display.py
Name[en_US]=Display Fixup
GenericName[en_US]=User Setup
Comment[en_US]=Ensure screen resolution is 2560x1600 and 2 terminal windows are open.
Comment=Set screen resolution is 2560x1600 and launch 2 terminal windows
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
