Source: zglue-cleanup
Section: devel
Priority: optional
Maintainer: bill <bill@zglue.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.3
Homepage: 
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/nuttx.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nuttx.git

Package: zglue-cleanup
Architecture: any
Depends:
Description: To support SmartFabric with the Nuttx build tree.
 The source tree for building the Nuttx firmware to use with Smart Fabric.
