Source: zglue-sdk
Section: devel
Priority: optional
Maintainer: bill <bill@zglue.com>
Build-Depends: debhelper (>= 11)
Standards-Version: 4.1.2
Homepage: 
#Vcs-Git: https://anonscm.debian.org/git/collab-maint/nuttx.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/nuttx.git

Package: zglue-sdk
Architecture: any
Depends: sdk-nuttx (>= 7.25), sdk-gcc-arm (>= 8), nuttx-tools (>= 7.25), zglue-cleanup (>= 1.1),
Description: Meta or virtual package to represent the SDK as singular.
 For providing all of the components of the sdk having a stand-in package
 enables installing all of the pieces as a side effect of install this
 stand-in package.
