Source: newracom-evk
Maintainer: bill <brees@ioaire.com>
Section: net
Priority: optional
Standards-Version: 4.6.2
Build-Depends: build-essential, debhelper, debhelper-compat (= 13)

Package: newracom-evk
Architecture: all
Depends: ${shlibs:Depends} ${misc:Depends}
Description: Driver and support files for newracom evk of the nrc7292 halow module
