!tools/
!debian.*/
!repo-*/
!.gitignore
!debian.bills-env/.gitignore
!debian.bills-env/Makefile.zglue-dev
!debian.bills-env/README.Debian
!debian.bills-env/README.source
!debian.bills-env/bills-env-docs.docs
!debian.bills-env/changelog
!debian.bills-env/compat
!debian.bills-env/control
!debian.bills-env/copyright
!debian.bills-env/rules
!debian.bills-env/source/.gitignore
!debian.bills-env/source/format
!debian.engine-sdk-cleanup/.gitignore
!debian.engine-sdk-cleanup/Makefile.zglue-cleanup
!debian.engine-sdk-cleanup/changelog
!debian.engine-sdk-cleanup/compat
!debian.engine-sdk-cleanup/control
!debian.engine-sdk-cleanup/copyright
!debian.engine-sdk-cleanup/rules
!debian.engine-sdk-cleanup/source/format
!debian.engine-sdk/.gitignore
!debian.engine-sdk/Makefile.zglue-sdk
!debian.engine-sdk/changelog
!debian.engine-sdk/compat
!debian.engine-sdk/control
!debian.engine-sdk/copyright
!debian.engine-sdk/rules
!debian.engine-sdk/source/format
!debian.engine-sdk/zglue-sdk.postinst
!debian.engine-sdk/zglue-sdk.prerm
!debian.engine-sdk/zglue-sdk.triggers
!debian.libsmartfabric/.gitignore
!debian.libsmartfabric/Makefile.libsmartfabric
!debian.libsmartfabric/README.libsmartfabric
!debian.libsmartfabric/changelog
!debian.libsmartfabric/compat
!debian.libsmartfabric/control
!debian.libsmartfabric/copyright
!debian.libsmartfabric/libsmartfabric.links
!debian.libsmartfabric/rules
!debian.libsmartfabric/source/format
!debian.newracom-evk/.gitignore
!debian.newracom-evk/package/.gitignore
!debian.newracom-evk/package/Makefile
!debian.newracom-evk/package/debian/.gitignore
!debian.newracom-evk/package/debian/changelog
!debian.newracom-evk/package/debian/control
!debian.newracom-evk/package/debian/copyright
!debian.newracom-evk/package/debian/newracom-evk.postinst
!debian.newracom-evk/package/debian/newracom-evk.prerm
!debian.newracom-evk/package/debian/rules
!debian.nuttx-style/.gitignore
!debian.nuttx-style/Makefile.nuttx-style
!debian.nuttx-style/README.source
!debian.nuttx-style/changelog
!debian.nuttx-style/compat
!debian.nuttx-style/control
!debian.nuttx-style/copyright
!debian.nuttx-style/nuttx-style-docs.docs
!debian.nuttx-style/nuttx-style/DEBIAN/control
!debian.nuttx-style/nuttx-style/DEBIAN/md5sums
!debian.nuttx-style/rules
!debian.nuttx-style/source/format
!debian.nuttx-style/source/include-binaries
!debian.nuttx-style/source/options
!debian.nuttx-tools/.gitignore
!debian.nuttx-tools/Makefile.nuttx-tools
!debian.nuttx-tools/README.source
!debian.nuttx-tools/changelog
!debian.nuttx-tools/compat
!debian.nuttx-tools/control
!debian.nuttx-tools/copyright
!debian.nuttx-tools/nuttx-tools-docs.docs
!debian.nuttx-tools/nuttx-tools.doc-base
!debian.nuttx-tools/nuttx-tools.links
!debian.nuttx-tools/rules
!debian.nuttx-tools/source/.gitignore
!debian.nuttx-tools/source/format
!debian.nuttx-tools/source/include-binaries
!debian.nuttx-tools/source/options
!debian.pkg-engine/.gitignore
!debian.pkg-engine/Makefile.repo
!debian.pkg-engine/changelog
!debian.pkg-engine/compat
!debian.pkg-engine/control
!debian.pkg-engine/copyright
!debian.pkg-engine/rules
!debian.pkg-engine/source/format
!debian.sdk-gcc-arm/.gitignore
!debian.sdk-gcc-arm/Makefile.gcc-arm-none-eabi
!debian.sdk-gcc-arm/README.Debian
!debian.sdk-gcc-arm/README.source
!debian.sdk-gcc-arm/changelog
!debian.sdk-gcc-arm/compat
!debian.sdk-gcc-arm/control
!debian.sdk-gcc-arm/copyright
!debian.sdk-gcc-arm/docs
!debian.sdk-gcc-arm/rules
!debian.sdk-gcc-arm/sdk-gcc-arm-docs.docs
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.annotate
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.assembler
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.bfd
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.binutils
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.cppinternals
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.gcc
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.gccinstall
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.gccint
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.gdb
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.gprof
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.ld
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.libc
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.libm
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.pdf
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.preproc
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.stabs
!debian.sdk-gcc-arm/sdk-gcc-arm.doc-base.text
!debian.sdk-gcc-arm/sdk-gcc-arm.links
!debian.sdk-gcc-arm/source/format
!debian.sdk-gcc-arm/source/include-binaries
!debian.sdk-gcc-arm/source/options
!debian.sdk-nuttx-7.25/.gitignore
!debian.sdk-nuttx-7.25/Makefile.sdk-nuttx
!debian.sdk-nuttx-7.25/README.Debian
!debian.sdk-nuttx-7.25/README.source
!debian.sdk-nuttx-7.25/changelog
!debian.sdk-nuttx-7.25/compat
!debian.sdk-nuttx-7.25/control
!debian.sdk-nuttx-7.25/copyright
!debian.sdk-nuttx-7.25/nuttx-docs.docs
!debian.sdk-nuttx-7.25/rules
!debian.sdk-nuttx-7.25/source/format
!repo-setup/debian.repo.meta/.gitignore
!repo-setup/debian.repo.meta/Makefile.zglue-cleanup
!repo-setup/debian.repo.meta/changelog
!repo-setup/debian.repo.meta/compat
!repo-setup/debian.repo.meta/control
!repo-setup/debian.repo.meta/copyright
!repo-setup/debian.repo.meta/repo.triggers
!repo-setup/debian.repo.meta/rules
!repo-setup/debian.repo.meta/source/format
!repo-setup/debian.repo/Makefile.repo
!repo-setup/debian.repo/changelog
!repo-setup/debian.repo/compat
!repo-setup/debian.repo/control
!repo-setup/debian.repo/copyright
!repo-setup/debian.repo/rules
!repo-setup/debian.repo/source/format
!repo-setup/debian.zglue-cleanup/.gitignore
!repo-setup/debian.zglue-cleanup/Makefile.zglue-cleanup
!repo-setup/debian.zglue-cleanup/changelog
!repo-setup/debian.zglue-cleanup/compat
!repo-setup/debian.zglue-cleanup/control
!repo-setup/debian.zglue-cleanup/copyright
!repo-setup/debian.zglue-cleanup/rules
!repo-setup/debian.zglue-cleanup/source/format
!tools/.gitignore
!tools/codec.py
!tools/dofuncs.py
!tools/filter.py
!tools/main.py
!tools/txt.action
!triggers.txt
