!.gitignore
!triggers.txt
!tools/
!debian.arm/
!debian.bills-env/
!debian.engine-sdk/
!debian.engine-sdk-cleanup/
!debian.libsmartfabric/
!debian.newracom-evk/
!debian.nuttx-style/
!debian.nuttx-tools/
!debian.pkg-engine/
!debian.sdk-gcc-arm/
!debian.sdk-nuttx-7.25/
!repo-setup/
