!.gitignore
!debian.repo.meta/.gitignore
!debian.repo.meta/Makefile.zglue-cleanup
!debian.repo.meta/changelog
!debian.repo.meta/compat
!debian.repo.meta/control
!debian.repo.meta/copyright
!debian.repo.meta/repo.triggers
!debian.repo.meta/rules
!debian.repo.meta/source/format
!debian.repo/Makefile.repo
!debian.repo/changelog
!debian.repo/compat
!debian.repo/control
!debian.repo/copyright
!debian.repo/rules
!debian.repo/source/format
!debian.zglue-cleanup/.gitignore
!debian.zglue-cleanup/Makefile.zglue-cleanup
!debian.zglue-cleanup/changelog
!debian.zglue-cleanup/compat
!debian.zglue-cleanup/control
!debian.zglue-cleanup/copyright
!debian.zglue-cleanup/rules
!debian.zglue-cleanup/source/format
