<?xml version="1.0" standalone='no'?><!--*-nxml-*-->
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>

  <name replace-wildcards="yes">Features on %h</name>

  <service protocol="ipv4">
    <type>_http._tcp</type>
    <port>5555</port>
    <host-name>%h.local</host-name>
    <txt-record value-format="text">key="blah blah blah"</txt-record>
</service>
</service-group>
